<div class="well text-center row">
			<div class="col-md-4 col-sm-6 small-gutter">
				<h2 class="suctitle">Success</h2>
				<div class="sucpost">
				 
					<img data-bind="img:{src: postImage}" class="img-responsive" />



				 </div>
			</div>
			<div class="col-md-8 col-sm-6 sucbuttons">
					<p><span class="sucline">Your post has been successfully created!</span><br /><br /> <br /> What would you like to do next?</p>
					
					<a href="#/profile"><button class="btn btn-kalachi">View your Profile</button></a>
					<a href="/#"><button class="btn btn-kalachi">Return to your Feed</button></a>
					<button class="btn btn-kalachi" data-bind="click: newPost">Create a New Post</button>
				<br clear="all" />
			</div>	
</div>

