<div class="input-weapon">
	<div class="weapon-type">
		<h4>Select your Weapon Type</h4>
			<div class="weapon-type-select" role="navigation"> 
				<ul class="nav nav-pills">
					<li role="presentation" class="active"><a role="menuitem">Shotgun</a></li>
					<li role="presentation"><a>Rifle</a></li>
					<li role="presentation"><a>Handgun</a></li>
					<li role="presentation"><a>Bow</a></li>
					<li role="presentation"><a>Rod / Reel</a></li>
					<li role="presentation"><a>Spear</a></li>
					<li role="presentation"><a>Bare Hands</a></li>
					<li role="presentation"><a>Trap</a></li>
				</ul>
			</div>

	</div>
	<div class="gun">
		
		<h4>Select A Gun</h4>

		<div class="dropdown">
			<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
				<span>My Weapons</span>
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu scrollable-menu" role="menu">
				<li role="presentation"><a role="menuitem">Item1</a></li>
				<li role="presentation"><a role="menuitem">Item2</a></li>
				<li role="presentation"><a role="menuitem">Item3</a></li>
				<li role="presentation"><a role="menuitem">Item4</a></li>
			</ul>
		</div>

		<span data-bind='text:gunName'></span><br>
		<span data-bind='text:gunYear'></span>

	</div>

	<div class="ammo">

		<h4>Select Your Ammunition</h4>

		<div class="dropdown">
			<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
				<span>My Ammunition</span>
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu scrollable-menu" role="menu">
				<li role="presentation"><a role="menuitem">Item1</a></li>
				<li role="presentation"><a role="menuitem">Item2</a></li>
				<li role="presentation"><a role="menuitem">Item3</a></li>
				<li role="presentation"><a role="menuitem">Item4</a></li>
			</ul>
		</div>

		<span data-bind='text:ammoMake'></span><br>
		<span data-bind='text:ammoCaliber'></span><br>
		<span data-bind='text:ammoDescrip'></span>

	</div>
	
</div>
