<div class="delete-account">

	<div class="modal-header">
		<h3 class="modal-title" id="myModalLabel">Delete My Account</h3>
	</div>

	<p>Once your Hambone account has been deleted, you will not be able to reactivate your account or retrieve any of the content or information you have added.</p>
	<p>If you would still like to your account delete, click "Delete My Account".</p>

	<button type="button" class="btn btn-danger" data-dismiss="modal">Delete My Account</button>
	<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>

</div>
