<div class="cropper-img-container" data-bind="style: { 'border-radius': circle ? '50%' : 'null' }">
    <img class="cropper-image" alt="Image"/>
</div>
<div id="dz-image-buttons" class="text-center">
    <button class="btn btn-default" data-bind="click:zoomIn">Zoom In</button>
    <button class="btn btn-default" data-bind="click:zoomOut">Zoom Out</button>
    <button class="btn btn-primary" data-bind="click:rotate">Rotate</button>
    <button class="btn btn-danger" data-bind="click:clear" data-dz-remove>Clear</button>
    <button class="btn btn-success" data-bind="click:crop">Accept</button>
</div>