<!-- Modal -->
<div class="modal fade" id="modal-hb" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button id="modal-close" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>

      <div class="modal-body text-center" data-bind="component: {name:modal.data().cname, params:modal.data().cparams}"></div>

    </div>
  </div>
</div>
