// /* FORGOT PASSWORD STYLING */
.forgotpw {
	#bg {
		z-index: -1;
		position: fixed; 
		top: -50%; 
		left: -50%; 
		width: 200%; 
		height: 200%;

		img {
			position: absolute; 
			top: 0; 
			left: 0; 
			right: 0; 
			bottom: 0; 
			margin: auto; 
			min-width: 50%;
			min-height: 50%;
		}
	}

	.access-panel .container { position: relative; }

	.panelWrap {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: rgba(255, 255, 255, 0.8);
		border: 1px solid #fff;
		height: 400px;
		border-bottom: 3px solid orange;
		padding: 40px;
	}

	.inner-wrapper {
		h3.note { margin-top: 0; }
		.btn { margin-bottom: 0; }
		input, button { width: 100%; margin-bottom: 15px; }
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

}
