nav-bar {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
	
	.navbar {
		background-color: $navBarBg;
		height: 50px;
		border: none;
		margin: 0;
		padding: 0;
		border-bottom: 1px solid #bebebe;
		width: 100%;
		z-index: 1000;
		border-radius: none !important;

		a { color: #616060;
			&:hover { text-transform: none; }
			&:active { text-transform: none; }
		}

		.navAlertCount { background-color: $kalachiRed; }

		// LEFT NAV -- LOGO BADGE & SEARCH FIELD //////////////////////////////////////////////////////
		.nav-left {
			float: left;
			margin-left: 5%;

			logo-badge, explore-search-bar { display: inline-block; }

			explore-search-bar {
				margin-left: 75px;

				form {
					max-width: 510px;
					margin-top: -11px;
					margin-left: 10px;
					padding: 0px;
				}

				.searchActiveWrapper {
					max-width: 510px;
					padding: 4px;
					position: absolute;
					background-color: #fff;
					border-radius: 4px;
					&.active { padding-bottom: 4px; }

					input#navSearchInput {
						width: 78%;
						display: inline-block;
						margin-right: 1%;
					}

					button {
						margin-left: 1%;
						height: 34px;
						width: 20%;
						display: inline-block;
						vertical-align: top;
					}

					.nav-tabs {
						border-bottom: none;
						
						&>li {
							margin: 0;
							margin-top: 3px;

							svg {
								width: 18px; height: 18px;
								margin-bottom: -4px;
								pointer-events: none; /* so that you can resize the element */
							}



							a {
								// line-height: 1.42857143;
								line-height: 18px;
								border: 1px solid transparent;
								border-radius: 0 0 4px 4px;
								text-align: center;
							}

							&.active>a {
								color: #555;
								color: $kalachiRed;
								background-color: #fff;
								//border: 1px solid #ddd;
								border-top-color: transparent;
								cursor: default;
									path{
									fill: $kalachiRed;
									}
									// img{margin-top: 15px;}
							}
						}

						li.searchTab {
							background-color: #f3efea;
							border-radius: 0 0 4px 4px;
							&.active { background-color: #fff; }

							.hidden-xs{
								display: inline-block;}
						}
					}
				}


			}
		}

		// RIGHT NAV -- POST BUTTON, USERNAME & AVATAR, HAMBURGER ICON ////////////////////////////////
		.nav-right {
			float: right;
			z-index: 1001;

			.postbutton {
				color: $kalachiRed;
				margin-top: 5px;


				path{
					fill: $kalachiRed;
				}
			}

			ul.nav-right-menu{
				list-style: none;
				padding: 0;
				margin: 0;

				li {
					display: inline-block;
					height: 49px;
					vertical-align: top;
					top: 0;
					text-align: center;

					.profileLink {
						display: block;
						padding: 5px 15px;
					}
					a { 
						display: block;
						padding: 5px 15px; 

						&:hover {
							text-transform: none;
							text-decoration: none;

							span {
								text-transform: none;
								text-decoration: none;
							}
						}
					}

					&.split {
						width: 2px;
						margin: 15px 0;
						padding: 0;
						background-color: #616060;
						border-right: 1px solid #fff;
						height: 20px;
					}
				}

				.navPost {
					background-color: #d0cfd0;
					a { padding: 3px 35px; }

					svg {
						width: 20px;
						height: 20px;
						fill: #777;
						display: table-cell;
						margin: 0 auto;
					}
				}

				.navUser, .dropNavUser {
					.avatarWrapper {
						height: 35px;
						width: 35px;
						display: inline-block;
						border: 1px solid #eeeeee;
						margin-top: 2px;
					}

					span.name {
						display: inline-block;
						vertical-align: top;
						font-size: 1.1em;
						padding: 10px 0px 10px 10px;
						max-width: 140px;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
						text-align: left;
					}
				}

				.dropNavBtn { 
					padding: 16px 20px;
					.navAlertCount { margin: -5px 0 0 -3px; }
				}

				.dropNavUser {
					display: block;
					float: left;
				}
			}
		}

		// DROPDOWN NAVIGATION PANEL //////////////////////////////////////////////////////////////////	
		.navPanel {
			background-color: #fff;
			width: 360px;
			right: 0;
			left: inherit;
			margin-top: -50px;

			.dropheader {
				display: block;
				clear: both;
				height: 63px;

				.navUser { display: inline-block; }
				span.name { width: 225px !important; }

				.dropClose { 
					float: right;
					padding: 10px 20px;

					.fa {
						font-size: 1.3em;
						color: #616060;
					}	
				}
			}

			.nav-tabs {
				li { height: inherit !important; }
				#alertsTab .navAlertCount { background-color: $kalachiRed; }
			}

			.tab-content #navigate{
				padding: 30px;

				ul {
					list-style: none;
					padding: 0;
					margin: 0;
					display: block;
					margin: 0 auto;
					text-align: center;

					li {
						display: inline-table;
						text-align: center;
						color: #ababab;
						padding: 0;
						margin: 5px;

						a { 
							color: #ababab;
							padding: 0;
						}

						.nav-link {
							border: 1px solid #ffffff;
							border-radius: 10px;
							height: 75px;
							width: 75px;
							display: block;
							padding-top: 15px;
							font-size: .9em;
						
							&:hover {
								background-color: #eeeeee;
								border-color: #cccccc;
							}
							
							i {
								clear: both;
								color: #ababab; 
							}
						}
					}
				}
			}

			.spacer {
				height: 15px;
				display: block;
			}

			.dropfooter {
				display: block;
				clear: both;
				bottom: 0;
				width: 100%;

				a, .fa { color: #ababab; }

				.settingsBtn { display: inline-block; }
				.navLogoutBtn { float: right; }
			}
		}
	}
}

// also styles svgs in user-info and club-info naviagation components
img.svg-nav {
	width: 20px;
	margin-bottom: 5px;
	fill: $kalachiRed;
	color: $kalachiRed;
}

///////////////////////////////////////////////////////////////////////////////////////////////////
// MEDIA QUERIES //////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////

@media (max-width: 991px) {
	nav-bar {
		.navbar {
			.nav-left { margin-left: 10px; }
			.nav-right ul.nav-right-menu .dropNavBtn { padding: 19px 30px 19px 15px; }
		}
	}
}

@media (max-width: 767px) {
	nav-bar {
		.navbar {
			.nav-left {
				width: 75vw;
				margin-left: 0;

				explore-search-bar form { width: 10px; }

				.searchActiveWrapper { width: 55vw; }
			}

			.nav-right {
				width: 18vw;
				text-align: right;
				ul.nav-right-menu {
					.navPost {  
						width: 0;
						padding: 16px 8px;
					}

					.dropNavBtn { padding: 16px 10px 19px 10px; }
				}			
			}

			.logoWrapper {
				width: 60px;
				height: 50px;
				margin-bottom: 0px;
			}

			.navPanel { width: 100vw; }
		}
	}	
}



@media (max-width: 575px) {
	nav-bar {
		.navbar {
			.nav-left {
				width: 75vw;
				margin-left: 0;

				explore-search-bar form { width: 10px; }

				.search {
					margin-left: 0;
					width: 200px;
					overflow: hidden;
					i { display: none; }
				}
			}

			.nav-right {
				width: 18vw;
				ul.nav-right-menu .dropNavBtn {  padding: 16px 10px 19px 10px; }
			}

			.navPanel { 
				width: 100vw;
				height: 100vh;
				.tab-content #navigate { padding: 20px; }
				.dropfooter { 
					position: absolute;
					margin-bottom: 40px;
				}
			}
		}
		.hidden-xxs { display: none !important; }
	}
	
}

@media (max-width: 415px) {
	nav-bar .searchActiveWrapper {
		//width: 210px !important;
		margin-left: 20px;

		input#navSearchInput {
			width: 70% !important;
			margin-right: 4px !important;

		}
		button { width: 40px !important; }

		.searchTab{ width: 33%; }
	}
}

@media (max-width: 390px) {
	nav-bar .navbar .nav-left {
		// logo-badge { display: none; }
		explore-search-bar { margin-left: 30px; }

		.searchActiveWrapper { width: 50vw; }

		#navSearchInput{ width: }

	}
}


@media (min-width: 992px) {
	.dropNavBtn { margin-top: 0px; }
}
@media (min-width: 622px) {
						li.searchTab {
							width: 33%;
					
						}

}

@media (min-width: 768px) {
						
}

@media (min-width: 768px) {
	.navbar { border-radius: 0px; }
	.dropNavBtn { margin-top: -4px; }

	li.searchTab {
		width: 33%;
	}
	.searchActiveWrapper { width: 45vw; }

}



@media (min-width: 175px) {
		li.searchTab {
			width: 20%;
		}

		// .btn-primary{width: 15px;}

		// .searchActiveWrapper {
		// 			button {
		// 				max-width: 70px;
		// 				float: right;
		// 			}
		// }


		
}

