RewriteEngine on
RewriteCond %{HTTP_HOST} ^rapptorstudios.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^hembow-dev.rapptorstudios.com$
RewriteCond %{REQUEST_URI} !src/
RewriteRule (.*) /src/$1 [L]

ErrorDocument 400 /#/404

#IndexIgnore *

# 10 minutes
Header set Cache-Control "max-age=600"
# DONT CACHE
# Header unset Cache-Control
