<div class="col-xs-10 col-xs-push-1 tag-user-card" data-bind="click:doAdd, css: cardCss">

	<!-- ko with:user -->
		<div class="add-or-remove">
			<i class="fa" data-bind="css: $parent.css"></i>
		</div>

		<div class="avatarWrapper">
			<img class="avatar" data-bind="attr:{src: avatar}" alt="profile photo"/>
		</div>

		<div  class="user-name-and-handle">
			<span data-bind="text:name" class="full-name"></span><br>
			<span data-bind="text:handle" class="handle"></span>
			<br>
		</div>
	<!-- /ko -->
	
</div>